<hr>
<hr>
<footer class=" footer py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4> Shopping</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           In nulla posuere sollicitudin aliquam ultrices sagittis orci</p>
        </div>
        <div class="col-md-4">
          <h4>Usefull links</h4>
          <ul>
            <li><a>Home</a></li>
            <li><a>Term of Service</a></li>
            <li><a>Privacy</a></li>
            <li><a>contact us</a></li>
            <li><a>NewsLetter</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4> NewsLetter</h4>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control rounded-0 border-0" type="email" placeholder="Enter your Email" aria-label="Search">
            <button class=" btn-main btn btn-primary  rounded-0 my-sm-0" type="submit">Signup</button>
          </form>
        </div>
      </div>
      <div class="w-100 text-center credits">
        <p>Made by <a>Nadine Gadjou</a> &copy 2020. All rights reserved</p>
      </div>
    </div>
  </footer>
